@model PagedList.IPagedList<DS3_FightclubBlacklist.Models.Player>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Your Blacklist";
}

<h2>Your Blacklist</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Player", "FormMethod.Get"))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<div class= "BlacklistTable">
<table class="table">
    <tr>
        
        <th>
            @Html.ActionLink("Sort A-Z", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Summary
        </th>
        <th>
            @Html.ActionLink("Sort by Encounter", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Summary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EncounterTime)
        </td>
   <td>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Edit/Delete
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Edit", "Edit", new { id = item.PlayerID })</li>
                <li>@Html.ActionLink("Details", "Details", new { id = item.PlayerID }) </li>
                <li>@Html.ActionLink("Delete", "Delete", new { id = item.PlayerID })</li>
            </ul>
        </div>
       </td>
    </tr>
    }
</table>
</div>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<img src="~/Images/zoomzoom.jpg" />


